.tab {
  max-width: 1000px;
  margin: auto;
}

.ui.segment.grouping {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 15px;
}

.ui.button.add-button {
  margin-bottom: 2px;
}

.App-header {
  font-size: 50px;
  text-align: center;
}

.File-upload {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}
